DEBUG=False
TESTING=False
SECRET_KEY=CHANGE_ME
ALLOWED_HOSTS=CHANGE_ME
CSRF_TRUSTED_ORIGINS=CHANGE_ME

DB_NAME=CHANGE_ME
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_HOST=CHANGE_ME
DB_PORT=CHANGE_ME

REDIS_URL=CHANGE_ME
