# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment / secrets
.env
.env.*


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Migrations cache (keep migrations files themselves)
**/__pycache__/
